<div>

  <div class="">
    <div class="card-header">
      <div class="row">
        <div class="col col-2">
          <img class="float-left" src="assets/images/ic_menu.png" alt="">
        </div>
        <div class="d-inline-block col col-8">
          <h5 class="card-title text-center">Game Of Thrones</h5>
          <p class="card-text text-center">Season 6, Episode 5</p>
        </div>
        <div class="col col-2">
          <img class="float-right" src="assets/images/ic_chat.png" alt="">
        </div>
      </div>
    </div>
    <div style="height: 50px"> </div>
    <div class="card-body">
      <div class="text-center vibers-count">
        <div class="counter">
          <b>67</b>
        </div>
        <hr>
        <div>
          <b>Vibers</b>
        </div>
      </div>
    </div>
    <div class="card-footer fixed-bottom text-center">
      <div class="row">
        <div class="col images-col">
          <span>
            <img src="assets/images/imoji/btn_haha.png" alt="" width="50px">
            <span>
              33
            </span>
          </span>
          <span>
            <img src="assets/images/imoji/btn_smile.png" alt="" width="50px">
            <span>
              4
            </span>
          </span>
          <span>
            <img src="assets/images/imoji/btn_wow.png" alt="" width="50px">
            <span>
              66
            </span>
          </span>
          <span>
            <img src="assets/images/imoji/btn_sad.png" alt="" width="50px">
            <span>
              0
            </span>
          </span>
          <span>
            <img src="assets/images/imoji/btn_angry.png" alt="" width="50px">
            <span>
              1
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>