.images-col span {
  display: inline-block;
}

.images-col span span {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
}

.vibers-count {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #F7F7F7;
  margin: 0 auto;
}

.vibers-count hr {
  width: 100px;
}

.counter {
  height: 60px;
  line-height: 95px;
}

.animate_image:hover {
  cursor: pointer;
  width: 60px;
}

.laugh_bg {
  background-color: #F7CE7B;
}

.smile_bg {
  background-color: #88C09B;
}

.wow_bg {
  background-color: #BA6D97;
}

.sad_bg {
  background-color: #69D5FF;
}

.angry_bg {
  background-color: #D65864;
}
.container{
  position: relative;
}

.box{
         width: 15px;
         height: 30px;
         transition: all 2s;
         animation: moveall 5s;
         margin: auto;
         top: 500px;
         position: absolute;
         left: 35%;
         }
.b1 .box1 {
  left: 35%;
  background-image: url('../../assets/images/points/001/p_001.png');
}
.b2 .box1 {
  left: 42%;
  background-image: url('../../assets/images/points/002/p_002.png');
}
.b3 .box1 {
  left: 49%;
  background-image: url('../../assets/images/points/003/p_003.png');
}
.b4 .box1 {
  left: 56%;
  background-image: url('../../assets/images/points/004/p_004.png');
}
.b5 .box1 {
  left: 63%;
  background-image: url('../../assets/images/points/005/p_005.png');
}
.box2 {
  position: absolute;
  top: -30px;
  height: 30px;
  width: 15px;
  left: 50%;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  
}
/*
@keyframes myfirst {
  0% {
    background:#333;
    left: 0px;
    top: 0px;
  }

  100% {
    background: #333;
    left: 0px;
    top: 300px;
  }
}

@-webkit-keyframes myfirst {
  0% {
    background: red;
    left: 0px;
    top: 0px;
  }

  100% {
    background: yellow;
    left: 0px;
    top: 300px;
  }
}*/